/* GENERAL STYLES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
}

/* HEADER */

.header-container{
  width: 100%;
}

/* Navtop general */
.navtop{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 70px;
}

/* Header first part */
.elements-navtop{
  margin-left: 70px;
  margin-right: 50px;
  width: 90%;
  content:'';
  display: table;
  clear: both;
}

.elements-navtop ul{
  padding-left: 120px;

}

.elements-navtop ul li{
  float: left;
  padding-top: 25px;
  list-style: none;

}

.elements-navtop ul li a{
  text-decoration: none;
  color:#33475b;
  padding-right: 30px;

}

.elements-navtop .rightelementsnav{
  float: right;
  margin-right: 135px;
}


.elements-navtop ul li button{
  margin-right: 15px;
  padding: 9px;
  line-height: 50%;
  border-radius: 5px;
  background-color: #ff7800a8;
  font-size: 15px;
}


/* Header second part */
.navbottom{
  margin-left: 70px;
  margin-right: 50px;
  width: 90%;
  }

  .navbottom::after{
    content:'';
    display: table;
    clear: both;
  }

.navbottom img{
  float: left;
  width: 10%;
  margin-left: 108px;
}

.navlist{
  float: right;
  margin-right: 108px;
}

.navlist .navlist-ul li{
  display: inline-block;
  padding-right: 30px;
  padding-top: 30px;
}

.navlist .navlist-ul li a{
  text-decoration: none;
  color: #33475b;
}

/* Header third part */
.thirdmain-container{
  position: relative;
  height: 650px;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: right;
}


.thirdmain-container h1{
  position: absolute;
  top:70px;
  left:175px;
  font-size: 50px;
  color: #33475b;
}

.thirdmain-container .firstp{
  position: absolute;
  top: 215px;
  left: 175px;
  color: #33475b;
  line-height: 30px;
}

.thirdmain-container button{
  position: absolute;
  background-color: #ff7800a8;
  border-radius: 5px;
  font-size: 15px;
  padding: 20px;
  top: 325px;
  left: 175px;
}

.thirdmain-container .secondp{
  position: absolute;
  bottom: 220px;
  left: 175px;
  color: #33475b;
}


/* MAIN */

.imagetitle-container{
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
  background-color: #8080802b;
}

.main-title-and-intro img{
  margin-top:150px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}

.main-title-and-intro h2{
  text-align: center;
  color: #33475b;
  margin-top: 0px;
  padding-bottom: 15px;
}

.main-title-and-intro p{
  text-align: center;
  color: #33475b;
}


/* Row con tre colonne */


.col3-container{
background-color: #8080802b;
}

.row3{
  width: 80%;
  margin:auto;
  margin-left: 180px;
}

.row3::after{
  content: '';
  display: table;
  clear: both;
}

.col3{
  float: left;
  width: 28%;
  height: 660px;
  margin: 20px;
  background-color: white;
  border: 1px solid grey;
}

.col3 img{
  padding-left: 100px;
  padding-top: 20px;
}

.col3 h2{
  text-align: center;
  padding: 20px;
  color: #33475b;
}

.col3 p{
  line-height: 20px;
  text-align: center;
  padding: 20px;
  color: #33475b;
}

.col3 h4{
  text-align: center;
  padding: 20px;
  color: #33475b;
}

.col3 i{
  color: orange;
}

.col3 button{
  background-color: #ff7800a8;
  border-radius: 5px;
  font-size: 15px;
  padding: 20px;
  margin-left: 90px;
}

/* Gradient banner part  */

/* Banner title and p */
.banner-container{
  background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  height: 500px;
}

.banner-title h2{
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 130px;
  margin-right: 130px;
  font-size: 35px;
  text-align: center;
  color: white;
}

.banner-title p{
  padding: 20px;
  margin-left: 110px;
  margin-right: 110px;
  text-align: center;
  color: white;
}

/* Banner columns and row */
.banner-colunms-container{
  width: 80%;
  margin:auto;
}

.row-banner{

}

.row-banner::after{
  content: '';
  display: table;
  clear: both;
}

.col-banner{
  float: left;
  width: 25%;
  height: 100px;
  background-color: red;
}
