/* GENERAL STYLES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
}


/* HEADER */

.header-container{
  width: 100%;
}

/* Navtop general */
.navtop{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 80px;
}


/* Header first nav part */
.elements-navtop{
  margin: auto;
  width: 75%;
  content:'';
  display: table;
  clear: both;
}

.elements-navtop ul li{
  display: inline-block;
}

.elements-navtop ul li a{
  text-decoration: none;
  color:#33475b;
  padding-right: 15px;
  vertical-align: middle;
}

.leftelementsnav{
  float: left;
  padding-top: 25px;
}

.leftelementsnav ul{
    list-style: none;
}

.leftelementsnav ul li{
  margin-top: 5px;
  margin-left: 10px;
}

.rightelementsnav{
  float: right;
  margin-right: 28px;
}

.rightelementsnav ul li{
  margin-top: 20px;
}

.rightelementsnav ul li button{
  margin-left: 15px;
  padding: 13px;
  line-height: 50%;
  border-radius: 5px;
  color: white;
  background-color: #ff7a59;
  font-size: 15px;
}

#search{
  margin-right: -12px;
  font-size: 30px;
}

#whitebutton{
  margin-top: 1.5px;
  color: #ff7a59;
  background-color: white;
  border: 1px solid #ff7a59;
}


/* Header second nav part */
.navbottom{
  margin: auto;
  width: 75%;
  height: 80px;
}

.navbottom::after{
    content:'';
    display: table;
    clear: both;
}

.navbottom img{
  float: left;
  width: 10%;
  margin-top: 10px;
}

.navlist{
  float: right;
}

.navlist .navlist-ul li{
  display: inline-block;
  padding-right: 30px;
  padding-top: 32px;
}

.navlist .navlist-ul li a{
  text-decoration: none;
  color: #33475b;
}

.navlist .navlist-ul li a:hover{
  background-color: #ff7a59;
  padding: 2px;
  border-radius: 5px;
}


/* Header main area */
.jumbotron-container{
  height: 650px;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: right;
}

.jumbotron-text{
  width: 40%;
  margin-left:180px;
  color: #33475b
}

.jumbotron-text h1{
  padding-top: 70px;
  margin-bottom: 30px;
  font-size: 50px;
}

.jumbotron-text .firstp{
  line-height: 30px;
}

.jumbotron-text button{
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  font-size: 15px;
  padding: 20px;
  margin-top: 30px;

}

.jumbotron-text .secondp{
  margin-top: 30px;
  font-size: 13px;
}


/* MAIN */

.backgroundgrey{
    background-color: #8080802b;
}


/* Fisrt part  main area (main intro) */
.imagetitle-container{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
}

.main-title-and-intro img{
  margin-top: 35px;
  width: 280px;
}

.main-title-and-intro h2{
  font-size: 35px;
  text-align: center;
  color: #33475b;
  padding-bottom: 25px;
}

.main-title-and-intro p{
  text-align: center;
  color: #33475b;
}


/* Box grande orizzontale */
.horizontal-container{
  width: 71%;
  margin: auto;
  padding-left: 20px;
  background-color: white;
  border: 1px solid grey;
}

.horizontal-container::after{
  content:'';
  display: table;
  clear: both;
}

/* left part */
.horiz-left-elements {
  float: left;
  width: 30%;
}

.horiz-left-elements img{
  display: block;
  padding: 20px;
  width: 170px;
  margin: auto;
  margin-top: 20px;
}

.horiz-left-elements button{
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  font-size: 15px;
}

/* rightpart */
.horiz-right-elements{
  width: 90%;
  color: #33475b;
}

.horiz-right-elements
p,
h2,
h4{
  padding-top: 30px;
}

.horiz-right-elements ul li{
  float: left;
  list-style: none;
  padding: 0 15px;
}

.horiz-right-elements ul li p i{
  list-style: none;
  padding-right: 10px;
  margin-bottom: 40px;
  color: #ff7a59;
}


/* Row con tre col */
.row3{
  width: 76%;
  margin:auto;
}

.row3::after{
  content: '';
  display: table;
  clear: both;
}

.col3{
  float: left;
  width: 29%;
  height: 660px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  background-color: white;
  border: 1px solid grey;
  color: #33475b;
}

/* Prima parte di elementi interni alle 3 col */
.col3-img{
  text-align: center;
}


.col3-firstpart-elements img{
  height: 120px;
  padding-top: 20px;
}


.col3-firstpart-elements  h2{
  text-align: center;
  padding: 20px;
}

.col3-firstpart-elements  p{
  line-height: 28px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.col3-firstpart-elements h4{
  text-align: center;
  padding: 20px;
}

/* Seconda parte di elementi interni alle 3 col */
.col3-secondpart-elements{
  padding: 10px 20px;
}

.col3-secondpart-elements i{
  color: #ff7a59;
}

.col3-button{
  text-align: center;
  margin-top: 35px;
}

.col3-secondpart-elements button{
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  font-size: 15px;
  padding: 20px;
}


/* Second part main area (gradient banner) */
/* Banner title and p */
.banner-container{
  background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
padding-bottom: 50px;
}

.banner-title{
  text-align:
}

.banner-title h2{
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 130px;
  margin-right: 130px;
  font-size: 35px;
  text-align: center;
  color: white;
}

.banner-title p{
  padding: 20px;
  margin-left: 110px;
  margin-right: 110px;
  text-align: center;
  color: white;
}


/* Banner columns and row */
.banner-colunms-container{
  width: 80%;
  margin:auto;
}

.row-banner::after{
  content: '';
  display: table;
  clear: both;
}

.col-banner{
  float: left;
  width: 25%;
  height: 200px;
  border: 1px solid white;
}

.col-banner p {

  text-align: center;
  font-size: 30px;
  color: white;
}

.col-banner p i{
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.col-banner h1{
  padding: 10px;
  font-size: 50px;
  text-align: center;
  color: white;
}

/* Third part main area */
/* Partner area (1/2) third part */
.partner-area{
  margin: 30px auto;
  width: 80%;
  height: 170px;
  content: '';
  display: table;
  clear: both;
}

.left-data{
  float: left;
  width: 40%;
    color: #33475b;
}

.left-data h1{
  padding: 20px 30px;
  font-size: 40px;
  text-align: center;
}

.left-data p{
  text-align: center;
}

.right-data-logos{
  float: left;
  width: 55%;
}

.right-data-logos img{
  float: right;
  width: 100px;
  padding-top: 35px;
  margin-bottom: -15px;
  margin-left: 30px;
  margin-right: 10px;
}

/* Startgrowing-area (2/2) third part */
.startgrowing-area{
  margin: 50px auto;
  width: 80%;
  content: '';
  display: table;
  clear: both;
}

.left-growing-text{
  float: left;
  width: 50%;
  color: #33475b;
}

.left-growing-text h1{
  padding-left: 30px;
  margin-bottom: 30px;
}

.left-growing-text p{
  padding-left: 30px;
}

.left-growing-text button{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  padding: 20px;
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  font-size: 15px;
}

.minip{
  font-size: 13px;
}

.right-growing-image img{
  float: right;
  margin-right: 50px;
  width: 265px;
}


/* FOOTER */

footer{
  background-color: #33475b;
}

.footer-container{
  margin:auto;
  width: 80%;
  content: ('');
  display: table;
  clear: both;
}

.footer-row{
}

.footer-row::after{
  content: '';
  display: table;
  clear: both;
}

.footer-col{
  float: left;
  margin-top: 30px;
  width: 25%;
  height: 200px;
  color: white;
}

.footer-col h4{
  margin-bottom: 25px;
  padding-left: 10px;
}

.footer-col ul li{
  list-style: none;
  color: #cbd6e2;
  line-height: 35px;
  padding-left: 10px;
}

.footer-col ul li a{
  text-decoration: none;
    color: #cbd6e2;
}

.footer-col ul li a:hover{
  color: #ff7a59;
}

.footer-col ul li button{
  margin-top: 10px;
  padding: 13px;
  color: #47596b;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
}

.sociallinks{
  padding: 15px 9px;
  font-size: 18px;
}

.footer-lenguages{
  margin: auto;
  margin-top: 180px;
  margin-bottom: 30px;
  content: ('');
  display: table;
  clear: both;
}

.footer-lenguages ul li{
  list-style: none;
  float: left;
}

.footer-lenguages ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #cbd6e2;
}

.footer-lenguages ul li a:hover{
  color: #ff7a59;
}

footer hr{
  color:  #cbd6e2;
}

/* ending line */
.last-left-elements{
  float: left;
}

.last-left-elements img{
  margin-top: 30px;
}

.last-right-elements{
  float: right;
  margin-top: 35px;
  margin-bottom: 35px;
}

.last-right-elements a{
  padding: 0 20px;
  text-decoration: none;
  color: #cbd6e2;
}

.last-right-elements a:hover{
  color: #ff7a59;
}
